extends layout
block styles
   link(rel="stylesheet", href="/stylesheets/details.css")
block header


block content
   div(class='cover-img-container')
      img(class="cover-img", src="/res/thumb/"+video.thumb.large)
      h2(class='sub-title vid-title')=video.title

   table(class='statistics')
      tr
         td( class='stat-clm', id='stat-genre',
         style='font-size: 0.7em; word-wrap: break-word; width: 40%;')

            if typeof video.genre != "undefined"
               strong=video.genre.join(", ")
         td( class='stat-clm', id='stat-rating',
         style='text-align: center')

            img(src='/images/imdb_flat.png', class='stat-rating-ico')
            em &nbsp #{video.rating}
         td( class='stat-clm',
         id='stat-viewcount',
         style='text-align: right; padding-left: 0; padding-right: 3%;')

            i(  class='glyphicon glyphicon-eye-open',
            style='font-size: 0.8em;')
            em &nbsp #{video.viewcount}

   p(class='details')=video.details

   ul(class='season-listing')
      - var idx = 0
      - var ep = 0
      for s in video.seasons
         - idx++;
         li
            h3(class='season-number') Season #{idx}
            ul(class='media-listing')
               for v in s.episodes
                  - ep++;
                  a(href='/videos/'+video.vidID+'/'+idx+'/'+ep)
                     li(class='media-listing-li')
                        div(class='media-img-container')
                           img(  class='media-img',
                                 src='/res/thumb'+s.thumb,
                                 alt=video.vidID)
                        h4(class='media-title') Ep #{ep}

               - ep = 0

block scripts
