//
   Created by Acer on 16.04.2016.

extends layout
block styles
   link(rel='stylesheet', href='/stylesheets/user.css')

block header

block content
   .profile-img-container-large
      img.profile-img(src="/res/images/profile-img/flindhagen.jpg")
   h2(class='sub-title', style="margin-top:0") Velkommen #{user.first_name}
   p(style="text-align:center;font-style:italic;color: #888") Her er dine verdiar
   .values
      table(style="margin-left: 41%;margin-top:3%;")
         tr
            td
               strong Brukarnamn
            td=user.username
         tr
            td
               strong Fornamn
            td=user.first_name
         tr
            td
               strong Etternamn
            td=user.last_name
         tr
            td
               strong Epost
            td=user.email




block scripts
