extends layout
block styles
    link(rel="stylesheet", href="/stylesheets/home.css")

block header

block content
    div(class="adm-button-container")
        button(id="admUploadVideo", class="adm-button")
            i(class="adm-button-icon glyphicon glyphicon-upload")
            p(class="adm-button-label") Last opp
        button(id="admRemoveVideo", class="adm-button", style="background-color:#FF193D; border-color: #B2001C")
            i(class="adm-button-icon glyphicon glyphicon-remove")
            p(class="adm-button-label") Fjern video

    h2(class='sub-title') Filmar

    ul(class='media-listing')
        if movies.length == 0
            h3(style="text-align: center") Could not load Movie-list
        else
            for movie in movies
                a(href='/videos/'+movie.vidID)
                    li(class='media-listing-li')
                        div(class='media-img-container')
                            img(class='media-img',
                                src='/res/thumb/'+movie.thumb.small,
                                alt=movie.vidID)

                        h3(class='media-title')=movie.title

                        table(class='statistics')
                            tr
                                td( class='stat-clm', id='stat-genre',
                                    style='font-size: 0.7em; word-wrap: break-word; width: 40%;')
                                    strong=movie.genre.join(", ")
                                td( class='stat-clm', id='stat-rating',
                                    style='text-align: center')
                                    img(src='/images/imdb_flat.png', class='stat-rating-ico')
                                    em &nbsp #{movie.rating}
                                td(
                                    class='stat-clm',
                                    id='stat-viewcount',
                                    style='text-align: right; padding-left: 0; padding-right: 3%;')

                                    i(  class='glyphicon glyphicon-eye-open',
                                        style='font-size: 0.8em;')
                                    em &nbsp #{movie.viewcount}

    h2(class='sub-title') TV-seriar

    ul(class='media-listing', id="tv-shows")
        if tv_shows.length == 0
            h3(style='text-align: center') Could not load TV-shows
        else
            for tv in tv_shows
                a(href='/videos/'+tv.vidID)
                    li(class='media-listing-li')
                        div(class='media-img-container')
                            img(class='media-img',
                                src='/res/thumb/'+tv.thumb.small,
                                alt=tv.vidID)

                        h3(class='media-title')=tv.title

                        table(class='statistics')
                            tr
                                td( class='stat-clm', id='stat-genre',
                                    style='font-size: 0.7em; word-wrap: break-word; width: 40%;')

                                    if typeof tv.genre != "undefined"
                                        strong=tv.genre.join(", ")
                                td( class='stat-clm', id='stat-rating',
                                    style='text-align: center')

                                    img(src='/images/imdb_flat.png', class='stat-rating-ico')
                                    em &nbsp #{tv.rating}
                                td( class='stat-clm',
                                    id='stat-viewcount',
                                    style='text-align: right; padding-left: 0; padding-right: 3%;')

                                    i(  class='glyphicon glyphicon-eye-open',
                                        style='font-size: 0.8em;')
                                    em &nbsp #{tv.viewcount}

    div(class="vid-remove-scheema-container", style="display:block")
        h4(style="text-align: center") Sletteskjema
        form(id="removeVideoForm", style="margin-left: 5%; margin-right: 5%;")
            p(id="rmFeedback", style="position: relative; width: 100%; padding: 3px; border-radius: 4px;")
            em For å slette skriv inn <strong>tittelen</strong> til videoen du vil fjerne
            input(id="video-title",type="text", name="title", placeholder="Tittel til video")
            input(type="submit", value="Slett", style="padding: 1px; padding-left: 10px; padding-right: 10px; margin-bottom: 5px; margin-top: 5px;")
block scripts
    script(type="text/javascript", src="/js/videos.js")