extends layout
block styles
    link(rel="stylesheet", href="/stylesheets/home.css")

block header

block content

    if (error != undefined || error != null)
        if (Object.keys(error).length > 0)
            pre(style="position:absolute; top: 4%; left: 33%; z-index: 20; background-color: #FF193D; border:none; box-shadow: #333 0.05em 0.05em 0.2em;")
                h4=error.title
                p=error.message

    div(class="sort-field",style="margin-top: .5%; margin-bottom: 0; margin-left: 1%; position: relative; float: left; width: 250px;")
        label(for="sort", style="margin-right: .5%") Sorter

        select(id="sort", name="sorting")
            option(value="title") Tittel
            option(value="rating") Rangering
            option(value="viewcount") Visningar
            option(value="uploaded") Lasta opp
            option(value="released") Lansert

        label(for="reversed", style="margin-right: 5px; margin-left: 5px") Reversert
        input(id="reversed", name="reversed", type="checkbox")

    h2(class='sub-title md-title') Filmar
    p(style="position: relative; float: right; width: 250px;") Søk: <em>CTRL + F -> skriv inn film eller serie du vil sjå</em>

    ul(class='media-listing', style="")
        if movies.length > 0
            for movie in movies
                a(href='/videos/'+movie.vidID)
                    li(class='media-listing-li')
                        div(class='media-img-container')
                            img(class='media-img',
                                src='/res/thumb/'+movie.thumb.small,
                                alt=movie.vidID)

                        h3(class='media-title')=movie.title

                        table(class='statistics')
                            tr
                                td( class='stat-clm', id='stat-genre',
                                    style='font-size: 0.7em; word-wrap: break-word; width: 40%;')
                                    strong=movie.genre.join(", ")
                                td( class='stat-clm', id='stat-rating',
                                    style='text-align: center')
                                    img(src='/images/imdb_flat.png', class='stat-rating-ico')
                                    em &nbsp #{movie.rating}
                                td(
                                    class='stat-clm',
                                    id='stat-viewcount',
                                    style='text-align: right; padding-left: 0; padding-right: 3%;')

                                    i(  class='glyphicon glyphicon-eye-open',
                                        style='font-size: 0.8em;')
                                    em &nbsp #{movie.viewcount}

    h2(class='sub-title md-title') TV-seriar

    ul(class='media-listing', id="tv-shows")

        if tv_shows.length > 0
            for tv in tv_shows
                a(href='/videos/'+tv.vidID)
                    li(class='media-listing-li')
                        div(class='media-img-container')
                            img(class='media-img',
                                src='/res/thumb'+tv.thumb.small,
                                alt=tv.vidID)

                        h3(class='media-title')=tv.title

                        table(class='statistics')
                            tr
                                td( class='stat-clm', id='stat-genre',
                                    style='font-size: 0.7em; word-wrap: break-word; width: 40%;')

                                    if typeof tv.genre != "undefined"
                                        strong=tv.genre.join(", ")
                                td( class='stat-clm', id='stat-rating',
                                    style='text-align: center')

                                    img(src='/images/imdb_flat.png', class='stat-rating-ico')
                                    em &nbsp #{tv.rating}
                                td( class='stat-clm',
                                    id='stat-viewcount',
                                    style='text-align: right; padding-left: 0; padding-right: 3%;')

                                    i(  class='glyphicon glyphicon-eye-open',
                                        style='font-size: 0.8em;')
                                    em &nbsp #{tv.viewcount}


block scripts
    script(type="text/javascript", src="/js/videos.js")